<html>
  <body>
    <h1>Welcome to tha motherucking <%= node['company'] %>!</h1>
    <h2>We shit on <%= @site_name %> all day every day!</h2>
    <%= node['ipaddress'] %>:<%= @port %>
  </body>
</html>
